input {
  file{
    path => ["C:\Users\Lucas\Documents\data\acidentes-2000.csv", "C:\Users\Lucas\Documents\data\acidentes-2001.csv", "C:\Users\Lucas\Documents\data\acidentes-2002.csv", 
	"C:\Users\Lucas\Documents\data\acidentes-2003.csv", "C:\Users\Lucas\Documents\data\acidentes-2004.csv", "C:\Users\Lucas\Documents\data\acidentes-2005.csv",
	"C:\Users\Lucas\Documents\data\acidentes-2006.csv", "C:\Users\Lucas\Documents\data\acidentes-2007.csv", "C:\Users\Lucas\Documents\data\acidentes-2008.csv",
	"C:\Users\Lucas\Documents\data\acidentes-2009.csv", "C:\Users\Lucas\Documents\data\acidentes-2010.csv", "C:\Users\Lucas\Documents\data\acidentes-2011.csv",
	"C:\Users\Lucas\Documents\data\acidentes-2012.csv", "C:\Users\Lucas\Documents\data\acidentes-2013.csv", "C:\Users\Lucas\Documents\data\acidentes-2014.csv",
	"C:\Users\Lucas\Documents\data\acidentes-2015.csv", "C:\Users\Lucas\Documents\data\acidentes-2016.csv"]
    start_position => "beginning"    
	sincedb_path => "/dev/null"
  }
}
filter {
  csv {  
    separator => ","	
    columns => ["LATITUDE","LONGITUDE","LOG1","LOG2","TIPO_ACID","QUEDA_ARR","DATA_HORA","DIA_SEM","FERIDOS","FERIDOS_GR","MORTES","MORTE_POST","FATAIS","AUTO","TAXI","LOTACAO","ONIBUS_URB","ONIBUS_MET","ONIBUS_INT","CAMINHAO","MOTO","CARROCA","BICICLETA","OUTRO","TEMPO","NOITE_DIA","REGIAO","DIA","MES","ANO","FX_HORA","UPS"]
  }
  mutate { convert => [ "LATITUDE" , "float" ] }
  mutate { convert => [ "LONGITUDE" , "float" ] }
  mutate { convert => [ "QUEDA_ARR" , "integer" ] }
  mutate { convert => [ "FERIDOS" , "integer" ] }
  mutate { convert => [ "FERIDOS_GR" , "integer" ] }
  mutate { convert => [ "MORTES" , "integer" ] }
  mutate { convert => [ "MORTE_POST" , "integer" ] }
  mutate { convert => [ "FATAIS" , "integer" ] }
  mutate { convert => [ "AUTO" , "integer" ] }
  mutate { convert => [ "TAXI" , "integer" ] }
  mutate { convert => [ "LOTACAO" , "integer" ] }
  mutate { convert => [ "ONIBUS_URB" , "integer" ] }
  mutate { convert => [ "ONIBUS_MET" , "integer" ] }
  mutate { convert => [ "ONIBUS_INT" , "integer" ] }
  mutate { convert => [ "CAMINHAO" , "integer" ] }
  mutate { convert => [ "MOTO" , "integer" ] }
  mutate { convert => [ "BICICLETA" , "integer" ] }
  mutate { convert => [ "OUTRO" , "integer" ] }
  mutate { convert => [ "DIA" , "integer" ] }
  mutate { convert => [ "MES" , "integer" ] }
  mutate { convert => [ "ANO" , "integer" ] }
  mutate { convert => [ "UPS" , "integer" ] }
}

  
  
output {
  elasticsearch {
    hosts => "http://localhost:9200"
    index => "acidentes_transito_datapoa"		
  }
  stdout{}
}